.root {
    -fx-background-color: #fef3eb;
}

#logButton, #logInButton, #accessButton, #registrationButton, #signUpButton, #closeButton, #noButton, #confirmationButton, #passwordButton, #logOutButton
{
    -fx-background-color: #d75c00;
    -fx-text-fill: #ffdcc9;

}

#logButton :hover, #logInButton:hover, #accessButton:hover, #registrationButton:hover, #signUpButton:hover, #closeButton :hover,  #noButton:hover, #confirmationButton:hover, #passwordButton:hover, #logOutButton:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.text-field
{
    -fx-background-color: #ffdcc9;
    -fx-text-fill: #602a01;
}


.menu-button
{
    -fx-background-color: #f9a86d;
    -fx-text-fill: #ffdcc9;
}

.menu-button:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.menu-item
{
    -fx-background-color: #f9a86d;
    -fx-text-fill: #ffdcc9;
}

.menu-item:hover
{
    -fx-background-color: #d75c00;
}


.combo-box
{
    -fx-background-color: #f9a86d;
    -fx-text-fill: #602a01;

}

.combo-box:hover
{
    -fx-background-color: #d75c00;
}

.combo-box .list-cell
{
    -fx-background-color: #f9a86d;
    -fx-text-fill: #602a01;
}

.combo-box .list-cell:hover
{
    -fx-background-color: #d75c00;
}