

.root {
    -fx-background-color: #fef3eb;
}

.button {
    -fx-background-color: #d75c00;
    -fx-text-fill: #ffdcc9;

}

.text-field
{
    -fx-background-color: #ffdcc9;
    -fx-text-fill: #602a01;
}
